<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="stylesheets/style.css">
  <style>
  section {
    position: relative;
    margin: 100px auto;
    width: 300px;
    overflow: hidden;
  }

  input {
    display: inline-block;
    height: 50px;
    width: 300px;
    outline: none;
  }

  textarea {
    margin-top: 20px;
    width: 300px;
    height: 150px;
    resize: none;
    outline: none;
  }

  button {
    display: block;
    margin: 30px auto;
    width: 100px;
  }
  </style>
</head>

<body>
  <% include common/header.ejs %>
    <section>
      <div class="article_title">
        <input type="text" placeholder="文章标题" maxlength="20" id="title">
      </div>
      <div class="article_content">
        <textarea placeholder="发表文章" id="content"></textarea>
      </div>
      <button id="pulish">发表</button>
      <input type="hidden" value="0" id="type">
      <select>
        <option value="0">全部</option>
        <option value="1">心情</option>
        <option value="2">技术</option>
      </select>
    </section>
    <% include common/footer.ejs %>
      <script src="javascripts/jquery-2.1.4.min.js"></script>
      <script>
      $('#pulish').click(function() {
        var title = $('#title').val();
        var content = $('#content').val();
        var type = $('#type').val();
        $.ajax({
          url: '/edit/edit',
          data: { title: title, content: content, type: type },
          type: 'post',
          success: function(json) {
            console.log(json);
          },
          error: function() {
            console.log("连接失败");
          }
        });
      });
      </script>
</body>

</html>