<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
  <% include common/header.ejs %>
    <ul>
      <li class="btn" onclick="getArticles(0)">全部</li>
      <li class="btn" onclick="getArticles(1)">心情</li>
      <li class="btn" onclick="getArticles(2)">技术</li>
    </ul>
    <div class="favourite" onclick="favouriteArticle(1)">点赞</div>
    <div class="favourite" onclick="getArticle(1)">详情</div>
    <% include common/footer.ejs %>
      <script src="javascripts/jquery-2.1.4.min.js"></script>
      <script>
      $(document).ready(function() {
        $.ajax({
          url: '/articles',
          data: { limit: 2, nowPage: 1 },
          type: 'post',
          success: function(json) {
            console.log(json);
          },
          error: function() {
            console.log("连接失败");
          }
        });
      });
      //获取不同类型的文章
      function getArticles(type) {
        $.ajax({
          url: '/selectArticles',
          data: { limit: 2, nowPage: 1, type: type },
          type: 'post',
          success: function(json) {
            console.log(json);
          },
          error: function() {
            console.log("连接失败");
          }
        });
      }
      //点赞
      function favouriteArticle(id) {
        $.ajax({
          url: '/favourite',
          data: { id: id },
          type: 'post',
          success: function(json) {
            console.log(json);
          },
          error: function() {
            console.log("连接失败");
          }
        });
      }
      //查询文章详情
      function getArticle(id) {
        $.ajax({
          url: '/article',
          data: { id: id },
          type: 'post',
          success: function(json) {
            console.log(json);
          },
          error: function() {
            console.log("连接失败");
          }
        });
      }
      </script>
</body>

</html>