<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>test</title>
</head>
<body>
	<header>
		<h2>这是一个头部</h2>
	</header>
	<nav>
		<ul>
			<li>导航一</li>
			<li>导航二</li>
		</ul>
	</nav>
	<section>
		第一步
	</section>
	<section>
		第二步
	</section>
	<footer>底部文件</footer>
</body>
</html>