<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
  <% include common/header.ejs %>
    <% include common/footer.ejs %>
      <script src="javascripts/jquery-2.1.4.min.js"></script>
      <script>
      $(document).ready(function() {
        userArticle(1);
      });
      //查询用户文章
      function userArticle(user_id) {
        $.ajax({
          url: '/users/userArticle',
          data: { user_id: user_id },
          type: 'post',
          success: function(json) {
            console.log(json);
          },
          error: function() {
            console.log("连接失败");
          }
        });
      }
      </script>
</body>

</html>