<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
  	<% include common/header.ejs %>
	<% include common/footer.ejs %>
	<script src="javascripts/jquery-2.1.4.min.js"></script>
</body>

</html>