<header class="common_head">
  <div class="head_content">
  	<a class="author" href="/users">Jimmy</a>
    <div class="manifesto">This is a new start</div>
    <a class="sign" href="/sign">注册／登录／忘记密码</a>
  </div>
</header>